Requirements:

-> Monthly tally for overall fund
-> Person-wise balance & dues on monthly basis
-> Family-wise balance & dues on monthly basis
-> Yearly balance sheets (6 month if possible)


Data captured:

	Personal:
		- Name
		- DOB/Wedding Day
	
	Monthly Sheet:
		- Name
		- Loan Outstanding
		- Interest
		- Subscription
		- Loan return
		- Fresh loan
		- Bday/Wday
		- Closing balance
	
	RD:
		- Monthly paid
		- Principal (a)
		- Interest earned (b)
		- Annual Maturity (a+b)
	
	Meeting:
		- Dividend paid
		- Meeting expenses
		- Individual balance
	
	Meeting Detail:
		- Expenditure details
		- Cost
	
	MOM
		- Text